.background-pmo {
    background-image: url('../../Images/pmobg.jpg');
    height: 870px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px; /* Added padding for smaller screens */
    box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}

.login-container .login-form {
    width: 100%;
    max-width: 450px;
    height: auto;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 50px 40px 20px 40px;
    border-radius: 8px;
    background-color: white;
    box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}

.login-container .login-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: #185f9e;
    font-weight: 800;
}

.login-container .login-group {
    margin-bottom: 20px;
}

.login-container .form-select {
    cursor: pointer;
}

.login-container label {
    font-size: 16px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    margin-bottom: 10px;
}

.login-container .form-control {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}

.login-container .btn-primary {
    background-color: #337ab7;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%; /* Make button width 100% for smaller screens */
}

.login-container .btn-primary:hover {
    background-color: #23527c;
}

/* Media Queries */
@media (max-width: 768px) {
    .login-container .login-form {
        padding: 40px 20px; /* Reduce padding for smaller screens */
    }

    .login-container .login-title {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .login-container label {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .login-container .form-control {
        height: 35px; /* Adjust input height for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .login-container .btn-primary {
        padding: 10px; /* Adjust button padding for smaller screens */
        font-size: 14px; /* Adjust button font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .login-container .login-form {
        padding: 30px 15px; /* Further reduce padding for very small screens */
    }

    .login-container .login-title {
        font-size: 18px; /* Adjust font size for very small screens */
    }

    .login-container label {
        font-size: 12px; /* Adjust font size for very small screens */
    }

    .login-container .form-control {
        height: 30px; /* Adjust input height for very small screens */
        font-size: 12px; /* Adjust font size for very small screens */
    }

    .login-container .btn-primary {
        padding: 8px; /* Adjust button padding for very small screens */
        font-size: 12px; /* Adjust button font size for very small screens */
    }
}

@media (max-width: 1550px) {
    .background-pmo {
        background-image: url('../../Images/pmobg.jpg');
        height: 650px;
    }
}
